{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="{{ path ('acceuil') }}" class="nav-link">
                        <div class="profile-image">
                            <div class="dot-indicator bg-success"></div>
                        </div>
                        <div class="text-wrapper">
                            <p class="profile-name">Apps Factor</p>
                        </div>
                    </a>
                </li>

                <li class="nav-item nav-category">Main Menu</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ asset ('acceuil') }}">
                        <i class="menu-icon typcn typcn-th-large-outline"></i>
                        <span class="menu-title">Accueil</span>
                    </a>
                </li>
                {% if app.user.roles[0]=='admin' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ asset('user') }}">
                        <i class="menu-icon typcn typcn-document-text"></i>
                        <span class="menu-title">Adminisrtartions</span>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ asset('materiels') }}">
                        <i class="menu-icon typcn typcn-document-text"></i>
                        <span class="menu-title">Machines</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ asset('demande') }}">
                        <i class="menu-icon typcn typcn-shopping-bag"></i>
                        <span class="menu-title">Tickets</span>
                    </a>
                </li>


            </ul>
        </nav>
        <nav class="main-panel">
            <h1 style="color:cornflowerblue;text-align: center">

                Liste Des Utilisateurs</h1>
            <br>
            <br>
          <h4>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="-align-center" style="color: #0b3251" href="{{ asset('ajoutuser') }}">Ajouter Un Nouveau Utilisateur
            </a></h4>
            <br>
            <div class="center">
                <div class="table">
            <table class="table btn-inverse-success" style="size: 200px;border: px" border="">
                <thead>
                <tr>
                    <th style="border: #0b0d14">ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email </th>
                    <th>Rôle</th>

                    <th>Pseudo</th>
                    <th>Actions</th>


                </tr>
                </thead>
                {% for user in users %}

                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.nom }}</td>

                        <td>{{  user.prenom }}</td>
                        <td>{{ user.email}}</td>
                        <td>{{ user.roles[0] }}</td>

                        <td>{{ user.username }}</td>

                        <td><a href="modifmateriels">
                                <input class="btn btn-warning " type="submit" style="width:130px" value="Show"/><br><br>
                                <a href="modifuser/{{ user.id }}">
                                <input class="btn btn-primary " type="submit" style="width:130px" value="Modifier"/><br><br>

                        <a href="suppuser/{{ user.id }}">
                                <input class="btn btn-danger " type="submit" style="width:130px" value="Supprimer"/>
                        </td>
                    </tr>

                {% endfor %}

            </table>
                </div>
            </div>
        </nav>
    </div>

{% endblock %}